<?xml version='1.1' encoding='UTF-8'?>
<user>
  <version>10</version>
  <id>jenkins_admin</id>
  <fullName>shiva</fullName>
  <description>CLI Auth Token</description>
  <properties>
    <jenkins.security.ApiTokenProperty>
      <tokenStore>
        <tokenList>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>9e91d352-1a5b-468c-8574-8fa81e0aa76a</uuid>
            <name>Token created on 2022-10-06T16:26:11.401217+05:30</name>
            <creationDate>2022-10-06 10:56:11.402 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>b387231cb9ddc437bd91f9092ef9188117a29d47c1269f7dbfaff34d7d191670</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
          <jenkins.security.apitoken.ApiTokenStore_-HashedToken>
            <uuid>2823327c-24d5-4d38-8eb6-573307fe3a2d</uuid>
            <name>Token created on 2022-10-06T16:27:10.813354+05:30</name>
            <creationDate>2022-10-06 10:57:10.813 UTC</creationDate>
            <value>
              <version>11</version>
              <hash>072f18686554cef4e9965323932786f234ff6e53abc49fe022c79a5d0343ec8b</hash>
            </value>
          </jenkins.security.apitoken.ApiTokenStore_-HashedToken>
        </tokenList>
      </tokenStore>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@1189.vf61b_a_5e2f62e">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash">
        <entry>
          <com.cloudbees.plugins.credentials.domains.Domain>
            <specifications/>
          </com.cloudbees.plugins.credentials.domains.Domain>
          <java.util.concurrent.CopyOnWriteArrayList>
            <org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@139.ved2b_9cf7587b">
              <id>Jenkins_cli_shiva</id>
              <description>Jenkins CLI auth ID</description>
              <secret>{AQAAABAAAAAQ73a9BWTzkP1C/TiDOpRhfWQlOkGXtVMSVcYDjJ6VjHg=}</secret>
            </org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>
          </java.util.concurrent.CopyOnWriteArrayList>
        </entry>
      </domainCredentialsMap>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@438.v02c7f0a_12fa_4">
      <emailAddress></emailAddress>
    </hudson.tasks.Mailer_-UserProperty>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.91">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.4.1">
      <data class="concurrent-hash-map"/>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <jenkins.security.LastGrantedAuthoritiesProperty>
      <roles>
        <string>authenticated</string>
      </roles>
      <timestamp>1664966818934</timestamp>
    </jenkins.security.LastGrantedAuthoritiesProperty>
    <hudson.model.MyViewsProperty>
      <primaryViewName></primaryViewName>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.3.6">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <hudson.security.HudsonPrivateSecurityRealm_-Details>
      <passwordHash>#jbcrypt:$2a$10$u/HiLuuVZIpDBeDVqpiFZeTpvq1Bx8.hkHptgRkSWDBJQ1p0zYe1C</passwordHash>
    </hudson.security.HudsonPrivateSecurityRealm_-Details>
    <org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl plugin="sshd@3.249.v2dc2ea_416e33">
      <authorizedKeys></authorizedKeys>
    </org.jenkinsci.main.modules.cli.auth.ssh.UserPropertyImpl>
    <jenkins.security.seed.UserSeedProperty>
      <seed>b8f8d6124df1fcd5</seed>
    </jenkins.security.seed.UserSeedProperty>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
    <hudson.model.TimeZoneProperty>
      <timeZoneName></timeZoneName>
    </hudson.model.TimeZoneProperty>
  </properties>
</user>