<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>build_host_01</name>
  <description>Slave build host 01</description>
  <remoteFS>/home/jenkinslave</remoteFS>
  <numExecutors>2</numExecutors>
  <mode>EXCLUSIVE</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@2.846.v1b_70190624f5">
    <host>192.168.56.104</host>
    <port>22</port>
    <credentialsId>6333e344-05de-4008-8435-2bbb9b65821f</credentialsId>
    <launchTimeoutSeconds>60</launchTimeoutSeconds>
    <maxNumRetries>10</maxNumRetries>
    <retryWaitTime>15</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.KnownHostsFileKeyVerificationStrategy"/>
    <tcpNoDelay>true</tcpNoDelay>
  </launcher>
  <label>linux_build_appName_01</label>
  <nodeProperties/>
</slave>